 


<div class="panel panel-default">
  <div class="panel-body">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;text-align:center">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <h3>Graph Description</h3>
    <p>This graph shows the count of forces recorded where the force exceeded the static design limits. The graph effectively shows the amount of time the cylinders are exceeding their design limits.</p>
</div>
</div>
<div id="selectedMarker"></div>


<script type="text/javascript">
   
    console.log( 'Template Loading : plugins/entanglement/views/analytics/overlimt' )
    console.log( '-----------------------------------------------------------------')

    var data =[];
    var seriesChart = []
    var colours = [
    'rgba(67,224,177,0.5)',
    'rgba(3,85,159,0.5)',
    'rgba(88,206,228,0.5)',
    'rgba(234,38,42,0.5)'
    ]


///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
   getdata()
})


//////////////////////////////////////// 
//////  FORMAT FOR HIGHCHARTS    //////
//////////////////////////////////////
function getdata(){
    var cylinderMax=[]
    var cylinderMin=[]
    var cylinderMax1=[]
    var cylinderMin1=[]   
    var catagories=[]
    for (var i = 0; i < calendarData.length; i++) {
        //console.log(calendarData[i]['entry']["coloums"])
        cylinderMin.push(calendarData[i]['entry']["coloums"]["E641_SR01_WT01-STA_Analog"]["lessThan"]/calendarData[i]['entry']["coloums"]["E641_SR01_WT01-STA_Analog"]["Count"]*100)
        
        cylinderMin1.push(calendarData[i]['entry']["coloums"]["E641_SR01_WT02-STA_Analog"]["lessThan"]/calendarData[i]['entry']["coloums"]["E641_SR01_WT02-STA_Analog"]["Count"]*100)
        catagories.push(calendarData[i]["date"])
    };

    seriesChart.push(
    {
       data: cylinderMin,
       color: colours[2],
       name : "E641_SR01_WT01-STA_Analog",
       marker: {
        fillColor: 'white',
        lineWidth: 2,
        lineColor: colours[2]
    },
},
{
    data: cylinderMin1,
    color: colours[4],
    name : "E641_SR01_WT02-STA_Analog",
    marker: {
        fillColor: 'white',
        lineWidth: 2,
        lineColor: colours[4]
    },
}
)
    

    //console.log(calendarData)
    highchartsAgain(seriesChart,catagories)
}





function highchartsAgain(seriesChart,catagories) {
 jQuery('#container').highcharts({
    title: {
        text: 'Overlimit Operation % of Cylinders ',
            x: -20 //center
        },
        chart: {
            zoomType: 'x'
        },
        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {
                            html=""
                            html+='<div class="panel panel-default"><div class="panel-body">'
                            html+='<button type="button" class="btn btn-default">View</button>    '
                            html+='Date: ' + this.category + ', value: ' + this.y
                            html+='</div></div>'
                            jQuery("#selectedMarker").html(html)

                        }
                    }
                }
            }
        },
        credits:false,
        xAxis: {
            categories: catagories
        },
        yAxis: {
            title: {
                text: '%Operation Over Limt'
            },                    plotLines: [{
                value: 0,
                width: 2,
                color: 'green',
                dashStyle: 'shortdash',
                label: {
                    text: 'Zero is good.'
                }
            }],

        },

        tooltip: {
            valueSuffix: ' %'
        },
        legend: {
            //layout: 'vertical',
            //align: 'right',
            //verticalAlign: 'middle',
            borderWidth: 0
        },
        series: seriesChart
    });
}

</script>
