 <div class="panel panel-default">
    <div id="containers" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<div id="selectedMarker"></div>

<script type="text/javascript">
console.log( 'Template Loading : plugins/entanglement/views/analytics/tempo' )
console.log( '--------------------------------------------------------------')
    var data =[];
    var seriesChart = []
    var colours = [
    'rgba(67,224,177,0.5)',
    'rgba(3,85,159,0.5)',
    'rgba(88,206,228,0.5)',
    'rgba(234,38,42,0.5)'
    ]


///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
 getdata()
})


//////////////////////////////////////// 
//////  FORMAT FOR HIGHCHARTS    //////
//////////////////////////////////////
function getdata(){
    var BoomScale=[]
    var ConveyorScale=[]    
    var catagories=[]
    for (var i = 0; i < calendarData.length; i++) {
            //console.log(calendarData[i]['entry']["coloums"])
            if ( isNaN(parseFloat(calendarData[i]['entry']["averageTPHboom"])) ){
                BoomScale.push(0) 
            } else {
               BoomScale.push(parseFloat(calendarData[i]['entry']["averageTPHboom"]) )
           };
           if ( isNaN(parseFloat(calendarData[i]['entry']["averageTPHscale"]))) {
            ConveyorScale.push(0)
        } else {
            ConveyorScale.push(parseFloat(calendarData[i]['entry']["averageTPHscale"] ))
        };    
        catagories.push(calendarData[i]["date"])
    };
    seriesChart.push(
    {
        data: BoomScale,
        color: colours[0],
        name : "E641_CV01_WIT01A-STA_Analog - Boom conveyor 10 sec Avg belt weigher",
        marker: {
            fillColor: 'white',
            lineWidth: 2,
            lineColor: colours[0]
        },
    },{
        data: ConveyorScale,
        color: colours[1],
        name : "E790_WE01_WIT01a-STA_Analog - LOS Feed Conveyor Weightometer",
        id :'primary',
        marker: {
            fillColor: 'white',
            lineWidth: 2,
            lineColor: colours[1]
        },
    }, {
        name: '10-day SMA',
        linkedTo: 'primary',
        showInLegend: true,
        type: 'trendline',
        algorithm: 'SMA',
        periods: 10,
        lineWidth: 4,
        color: 'red'
    }
    )
    
    
//array.sortBy(function(o){ return o.date });
highchartsStats(seriesChart,catagories)
}


////////////////////////////////////// 
//////  ACTIVATE HIGHCHARTS    //////
////////////////////////////////////
function highchartsStats(seriesChart,catagories) {
   jQuery('#containers').highcharts({
    title: {
        text: 'Daily Average Tonnage Moved by Bucket Wheel Reclaimer',
            x: -20 //center
        },
        xAxis: {
            categories: catagories, 
        },
        chart: {
            zoomType: 'x',
            type: 'column'
        },
        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {
                            html=""
                            html+='<div class="panel panel-default"><div class="panel-body">'
                            html+='<button type="button" class="btn btn-default">View</button>    '
                            html+='Date: ' + this.category + ', value: ' + this.y
                            html+='</div></div>'
                            jQuery("#selectedMarker").html(html)
                        }
                    }
                }
            }
        },
        credits:false,
        yAxis: {
            title: {
                text: 'Tonnes Moved (Tonnes)'
            },
        },
        tooltip: {
            valueSuffix: ' Tonne'
        },
        legend: {
            //layout: 'vertical',
            //align: 'bottom',
            //verticalAlign: 'middle',
            borderWidth: 0
        },
        series: seriesChart,

    });
}
</script>
