<h1>Brief</h1>
<p>Entanglement is intended to systematically manage the dataprocessing of SCADA csv files.</p>
<p>The prototype will be for the analysis of the BWR and Stackers.</p>

<h2>Goals</h2>
<h3>Short Term</h3>
<p>Allow for viewing and visibility of the BWR SCADA.</p>

<h3>Long Term</h3>
<p>Allow for post processing of data using multiple methods</p>
<p>Incorporate rainflow counting.</p>

