 
    <div role="tabpanel" class="tab-pane" id="graph">
    graph
    </div>


<script type="text/javascript">
console.log( 'Tempalte Name : plugins/entangelment/views/tools/graph' )
console.log( '------------------------------------------------' )
</script>